.background {
  /* Imagenes de fondo */
  display: table;
  width: 100%;
  position: relative;

  .contenido {
    /* Contenido general de la imagen de fondo */
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1.3rem;

    p {
      /* Párrafo del contenido general de la imagen de fondo */
      color: $blanco;
      font-weight: 700;
    }
  }
}

// Implementación del Mixin de imagenes (Contenido destacado)
.london {
  @include imagenFondo( '../img/imagen02.jpg', 500px, top center );
}
.estacion {
  @include imagenFondo( '../img/imagen03.jpg', 250px, top center );
}
