
// Realizamos una prueba del funcionamiento de las variables
body {
  background-color: $color-fondo-general;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $color-fuente-principal;
  font-family: $fuente-principal;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-fuente-titulos;
  font-family: $fuente-titulos;
}

.container {
  /* < 768px */
  margin: 0 auto;
  max-width: 96%;
  //background-color: $rojo;
  // Implementamos los Mixin para Media Queries
  @include tablet {
    /* >= 768px && < de 1024px  */
    width: 90%;
    //background-color: $verde;
  }
  @include desktop {
    /* > 1024px */
    width: 1000px;
    //background-color: $blanco;
  }
}

/* Grid */

// Resetea "float" de las etiquetas y devuelve altura a la etiqueta padre
.clear-fix {
  @include clearfix;
  @include tablet {
    margin: 0 -1em; /* Reduce el cuerpo del contenido */
  }
}

[class*='col-'] {
  @include border-box;
  float: left;
  padding: 1em;  /* Agrega "padding" a cada elemento en el que se usa la clase "col-" */
  width: 100%;
}

@include tablet {
  @for $i from 1 through $number-cols {
    .col-#{ $i } {
      width: 100% / $number-cols * $i;
    }
  }
}
