
// Realizamos una prueba del funcionamiento de las variables
body {
  background-color: $color-fondo-general;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $color-fuente-principal;
  font-family: $fuente-principal;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-fuente-titulos;
  font-family: $fuente-titulos;
}

div.caption {
  min-height: 80px;
}

.container {
  /* < 768px */
  margin: 0 auto;
  max-width: 96%;
  //background-color: $rojo;
  // Implementamos los Mixin para Media Queries
  @include tablet {
    /* >= 768px && < de 1024px  */
    width: 90%;
    //background-color: $verde;
  }
  @include desktop {
    /* > 1024px */
    width: 1000px;
    //background-color: $blanco;
  }
}
