/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700');

// Define variables de color
$blanco      : #EEE8D6;
$azul-oscuro : #101068;
$amarillo    : #FFBA00;
$azul        : #0076A3;
$verde       : #548C27;
$rojo        : #fE2D28;
$morado      : #6D73C2;
$negro       : #000000;

// Define colores de la página
$color-fondo     : $azul;
$color-fuente-principal : $negro;
$color-fuente-titulos   : $amarillo;

// Define los tipos de fuentes de la página
$fuente-titulos   : 'Open Sans', sans-serif;
$fuente-principal : 'Bitter', serif;

// Realizamos una prueba del funcionamiento de las variables
body {
  background-color: $color-fondo;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $color-fuente-principal;
  font-family: $fuente-principal;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-fuente-titulos;
  font-family: $fuente-titulos;
}
