@charset "UTF-8";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700");
body {
  background-color: #0076A3;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: #000000;
  font-family: "Bitter", serif; }

h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Open Sans", sans-serif; }

.container {
  /* < 768px */
  margin: 0 auto;
  max-width: 96%; }
  @media only screen and (min-width: 768px) {
    .container {
      /* >= 768px && < de 1024px  */
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      /* > 1024px */
      width: 1000px; } }

/* Grid */
.clear-fix:after {
  /* Resetea estilos de flotación */
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 768px) {
  .clear-fix {
    margin: 0 -1em;
    /* Reduce el cuerpo del contenido */ } }

[class*='col-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  /* Agrega "padding" a cada elemento en el que se usa la clase "col-" */
  width: 100%; }

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33333%; }
  .col-2 {
    width: 16.66667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33333%; }
  .col-5 {
    width: 41.66667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33333%; }
  .col-8 {
    width: 66.66667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.66667%; }
  .col-12 {
    width: 100%; } }

.navegacion {
  background-color: #09093c;
  padding: 10px; }
  .navegacion:after {
    /* Resetea estilos de flotación */
    content: "";
    display: table;
    clear: both; }
  .navegacion h2 {
    /* Título del Menu */
    margin: 0;
    float: left;
    display: none; }
    @media only screen and (min-width: 768px) {
      .navegacion h2 {
        display: block; } }
  .navegacion nav {
    /* Menu */
    display: inline;
    margin-top: 10px; }
    @media only screen and (min-width: 768px) {
      .navegacion nav {
        float: right; } }
    .navegacion nav a {
      color: #EEE8D6;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      display: block;
      margin-bottom: 20px; }
      @media only screen and (min-width: 768px) {
        .navegacion nav a {
          display: inline;
          text-align: left; } }
      .navegacion nav a:hover {
        color: #FFBA00; }

.background {
  /* Imagenes de fondo */
  display: table;
  width: 100%;
  position: relative; }
  .background .contenido {
    /* Contenido general de la imagen de fondo */
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1.3rem; }
    .background .contenido p {
      /* Párrafo del contenido general de la imagen de fondo */
      color: #EEE8D6;
      font-weight: 700; }

.london {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 500px; }

.estacion {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen03.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 250px; }

table {
  /* Cuerpo de la tabla "Museos en Londres" */
  margin-top: 30px;
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse; }
  table > caption {
    /* Titulo de la tabla */
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    padding: 5px;
    color: #FFBA00;
    margin-bottom: 15px; }
  table > thead > tr, table > tbody > tr {
    background-color: #006084;
    color: #EEE8D6; }
    table > thead > tr:nth-child(odd), table > tbody > tr:nth-child(odd) {
      background-color: #0076A3; }
    table > thead > tr:hover, table > tbody > tr:hover {
      background-color: #e6a700; }
    table > thead > tr th, table > thead > tr td, table > tbody > tr th, table > tbody > tr td {
      padding: 6px;
      border-bottom: 1px dotted #101068; }
  table thead tr th {
    /* Titulo de las columnas */
    background-color: #e6a700;
    color: #000000;
    text-align: center; }

/* Galeria de imagenes */
.galeria:after {
  /* Resetea estilos de flotación */
  content: "";
  display: table;
  clear: both; }

.galeria li.imagen {
  /* Cada imagen de la galería */
  float: left;
  list-style: none;
  width: 24.25%; }
  .galeria li.imagen:nth-child(n) {
    margin-right: 1%;
    margin-bottom: 1%; }
  .galeria li.imagen:nth-child(4n + 1) {
    margin-right: 0;
    margin-bottom: 0; }
  .galeria li.imagen img {
    /* Dimensiones de cada imagen en la galería */
    display: block;
    max-width: 100%;
    border-radius: 10px; }

.btn, .btn-verde {
  /* Valores del botón genérico */
  color: #EEE8D6;
  display: block;
  background-color: #d80601;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 1rem;
  transition: all 3s ease;
  border-radius: 0px; }
  @media only screen and (min-width: 768px) {
    .btn, .btn-verde {
      display: inline-block;
      border-radius: 5px; } }
  .btn:hover, .btn-verde:hover {
    background-color: #8c0401; }

.btn-verde {
  background-color: #548C27; }

.noticia {
  /* Bloque de noticias */
  padding-top: 30px;
  margin: 30px 0;
  border-top: 2px dotted #EEE8D6; }
  .noticia h3 {
    color: #ffd35c;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 0; }
  .noticia img {
    float: left;
    margin-right: 10px; }
  .noticia p {
    font-size: 1rem;
    color: #EEE8D6; }
