@charset "UTF-8";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700");
body {
  background-color: #0076A3;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: #000000;
  font-family: "Bitter", serif; }

h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Open Sans", sans-serif; }

.container {
  /* < 768px */
  margin: 0 auto;
  max-width: 96%; }
  @media only screen and (min-width: 768px) {
    .container {
      /* >= 768px && < de 1024px  */
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      /* > 1024px */
      width: 1000px; } }

.navegacion {
  background-color: #09093c;
  padding: 10px; }
  .navegacion:after {
    /* Resetea estilos de flotación */
    content: "";
    display: table;
    clear: both; }
  .navegacion h2 {
    /* Título del Menu */
    margin: 0;
    float: left;
    display: none; }
    @media only screen and (min-width: 768px) {
      .navegacion h2 {
        display: block; } }
  .navegacion nav {
    /* Menu */
    display: inline;
    margin-top: 10px; }
    @media only screen and (min-width: 768px) {
      .navegacion nav {
        float: right; } }
    .navegacion nav a {
      color: #EEE8D6;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      display: block;
      margin-bottom: 20px; }
      @media only screen and (min-width: 768px) {
        .navegacion nav a {
          display: inline;
          text-align: left; } }
      .navegacion nav a:hover {
        color: #FFBA00; }

.background {
  /* Imagenes de fondo */
  display: table;
  width: 100%;
  position: relative; }
  .background .contenido {
    /* Contenido general de la imagen de fondo */
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1.3rem; }
    .background .contenido p {
      /* Párrafo del contenido general de la imagen de fondo */
      color: #EEE8D6;
      font-weight: 700; }

.london {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 500px; }

.estacion {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen03.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 250px; }

#contenido-principal {
  /* Contenido principal */
  box-sizing: border-box; }
  @media only screen and (min-width: 768px) {
    #contenido-principal {
      width: 66.7%;
      float: left;
      padding: 0 20px 0 0; } }

aside {
  /* Barra lateral principal (Museos en Londres) */ }
  @media only screen and (min-width: 768px) {
    aside {
      width: 33.3%;
      float: right; } }

.noticia {
  /*  */
  padding-top: 30px;
  margin: 30px 0;
  border-top: 2px dotted #EEE8D6; }
  .noticia h3 {
    color: #ffd35c;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 0; }
  .noticia img {
    float: left;
    margin-right: 10px; }
  .noticia p {
    font-size: 1rem;
    color: #EEE8D6; }

.btn, .btn-verde {
  /* Valores del botón genérico */
  color: #EEE8D6;
  display: block;
  background-color: #d80601;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 1rem;
  transition: all 3s ease; }
  @media only screen and (min-width: 768px) {
    .btn, .btn-verde {
      display: inline-block; } }
  .btn:hover, .btn-verde:hover {
    background-color: #8c0401; }

.btn-verde {
  background-color: #548C27; }

table {
  /* Cuerpo de la tabla "Museos en Londres" */
  margin-top: 30px;
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse; }
  table > caption {
    /* Titulo de la tabla */
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    padding: 5px;
    color: #FFBA00;
    margin-bottom: 15px; }
  table > thead > tr, table > tbody > tr {
    background-color: #006084;
    color: #EEE8D6; }
    table > thead > tr:nth-child(odd), table > tbody > tr:nth-child(odd) {
      background-color: #0076A3; }
    table > thead > tr:hover, table > tbody > tr:hover {
      background-color: #e6a700; }
    table > thead > tr th, table > thead > tr td, table > tbody > tr th, table > tbody > tr td {
      padding: 6px;
      border-bottom: 1px dotted #101068; }
  table thead tr th {
    /* Titulo de las columnas */
    background-color: #e6a700;
    color: #000000;
    text-align: center; }
